@import 'normalize.css';

:root {
  --white: #fff;
  --black: #000;


}

html {
  font-size: 62.5%;
}


body {
  font-family: var(--font-familly);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

//scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  margin: 0 50px 0 50px;

}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body .ant-table-wrapper table,
body .ant-table-wrapper thead tr .ant-table-cell {
  text-align: center;
}

.ant-table-column-title {
  text-align: center;
}

.admin_btnEdit {
  color: rgb(65, 65, 255);
  font-size: 16px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.admin_btnBlock {
  color: rgb(255, 59, 59);
  font-size: 16px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.admin_btnDelete {
  color: rgb(0, 182, 0);
  font-size: 16px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.page_container_title {
  text-align: center;
  margin-bottom: 20px;
}