<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>
  <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
  <div class="container">
    <div class="image_wrapper">
      <img class="image" src="/images/aqua.png" alt="404">
    </div>
    <div class="detail">
      <div class="code">
        <h1 class="code_text">404</h1>
      </div>

      <div class="description">
        <h1 class="title">Oops, that's an error...</h1>
        <p class="para">Sorry, Useless Aqua couldn't find anything</p>
      </div>
    </div>
  </div>
</body>

</html>