<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email confirmed</title>
  <link rel="stylesheet" href="/styles/confirm_success.css">
</head>

<body>
  <div class="container">
    <div class="image_wrapper">
      <img class="image" src="/images/kazuma.jpg" alt="200">
    </div>
    <div class="detail">
      <div class="code">
        <h1 class="code_text">200</h1>
      </div>

      <div class="description">
        <h1 class="title">Hooray, email confirmed...</h1>
        <p class="para">Thank you, Kazuma welcomes you</p>
      </div>
    </div>
  </div>
</body>

</html>