<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation expired</title>
  <link rel="stylesheet" href="/styles/confirmed.css">
</head>

<body>
  <div class="container">
    <div class="image_wrapper">
      <img class="image" src="/images/megumin.jpg" alt="404">
    </div>
    <div class="detail">
      <div class="code">
        <h1 class="code_text">400</h1>
      </div>

      <div class="description">
        <h1 class="title">Oops, bad request...</h1>
        <p class="para">Sorry, Megumin found that your email was confirmed</p>
      </div>
    </div>
  </div>
</body>

</html>