.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    background-color: var(--white);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  
}

.header_logo{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2px 0 2px 20px;
    
    img{
        width: 100px;
        height: 100%;
    }
}