html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-y: overlay;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
}

body {
  background-color: @neutral-2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

html *::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

html *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

html *::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
