.wrap-menu-page {
  position: relative;
  padding: 16px 0px;

  .add-menu-btn {
    position: absolute;
    top: 16px;
    right: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    color: @primary-color;
    font-weight: 600;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    .icon {
      margin-left: 8px;
    }
  }
}
